*{
    box-sizing: border-box;
}

.APcontainer {
    position: absolute;
    z-index: -10;
    top: 0px;
    background-color: #90a5c3;
    display: flex;
    justify-content: center;
    align-items: top;
    padding-top: 15vh;
    min-height: 100vh;
    height: fit-content;
    width: 100%;
    padding-bottom: 50px;
}

.APleft {
    width: 25vw;
    max-height: 80vh;
    height: fit-content;
    background-color: white;
    border-radius: 30px;
    margin: 2vw; 
    margin-top: 0px;
    /* margin-top: 15vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.APLone {
    display: flex;
    justify-content:flex-start;
    padding-left: 50px;
    align-items: center;
    min-height: fit-content;
    /* height: 10vh; */
    width: 100%;
    border-bottom: 5px solid balck;
}

/* .APLOright {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
} */

.APLOright div {
    display:inline-flexbox;
    text-align: left;
}

.editProfileButton img {
    width: 50%;
}

.editProfileButton {
    border-radius: 100px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 120px;
    left: 330px;
}

.editProfileButton:hover {
    cursor: pointer;
}

.APadname {
    font-size: 2rem;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 30px;
    left: 0px;
}

.APadage, .APadprofession {
    margin-left: 20px;
    width: 100%;
    background-color: #d8dce0;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
    width: 100%;
}

.APLOLprofileimg {
    width: 100px;
}

.APLtwo {
    max-height: 30vh;
    height: fit-content;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 30px;
    padding: 10px;
}

.APLtwo::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

.APLtwo::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.APLtwo::-webkit-scrollbar-thumb
{
	background-color: rgba(55,71,79, 0.3);
	border: 2px solid rgba(55,71,79, 0.3);
}

.APLthree {
    height: 30vh;
    width: 100%;
}

.APheading {
    margin: 10px 0px;
}

.APLTtags {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.tags {
    margin: 5px 0px;
    padding: 5px 0px;
    font-size: 1rem;
    background-color: #d8dce0;
    width: 90%;
    border-radius: 10px;
    color: #6a6c6e;
}

.APright {
    display: flex;
    justify-content: center;
    align-items: top;
    flex-direction: column;
    width: 75vw;
    background-color: #7589a0;
    height: fit-content;
    margin-right: 50px;
    box-sizing:border-box;
    min-height: 200px;
    border-radius: 30px;
    padding: 10px 0px;
}

.postButton {
    position: fixed;
    bottom: 30px;
    right: 40px;
    font-size: 2rem;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-color: #7589a0;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.postButton:hover {
	-webkit-animation: rotate-center 0.3s linear 1 both;
	        animation: rotate-center 0.3s linear 1 both;
}

.advisorProfileSocialMediaIcons {
    height: 40px;
}

.advisorSocialMedia {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}