.article--container {
    width: 50%;
    height: 78vh;
    background-color: #ffffff;
    margin: 0em 2em;
    border-radius: 2em;
    font-family: 'Outfit', sans-serif;
    overflow-y: scroll;
    scrollbar-width: thin;
    padding: 0em 2em 2em 2em;
}