.discussionContainer {
    display: flex;
    justify-content: center;
    /* align-items: top; */
    min-height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    z-index: -50;
    background-color: #f9dddd;
    height: fit-content;
    /* overflow-y: hidden; */
    /* overflow-x: hidden; */
}

.DCleft {
    width: 25vw;
    min-height: 80vh;
    background-color: #FFFFFF;
    margin-top: 15vh;
    margin-left: 20px;
    margin-right: 30px;
    border-radius: 30px;
    padding: 5px 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    height: fit-content;
}

.DCRupper {
    background-color: #bfb0b2;
    min-height: 30vh;
    border-radius: 10px;
    padding: 5px;
    width: 90%;
    height: fit-content;
}

.DCRlower {
    background-color: #bfb0b2;
    min-height: 30vh;
    border-radius: 10px;
    padding: 5px;
    width: 90%;
    margin-bottom: 15px;
    height: fit-content;
}

.DCRlower h1, .DCRupper h1 {
    font-size: 1rem;
}

.DCright {
    width: 65vw;
    min-height: 20vh;
    height: fit-content;
    background-color: #bfb0b2;
    margin-top: 15vh;
    margin-left: 30px;
    margin-right: 20px;
    border-radius: 30px;
    /* overflow: hidden; */
    /* scroll-behavior: smooth; */
}

.postButton {
    position: fixed;
    bottom: 30px;
    right: 40px;
    font-size: 2rem;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-color: #f9dddd;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.postButton:hover {
	-webkit-animation: rotate-center 0.3s linear 1 both;
	        animation: rotate-center 0.3s linear 1 both;
}