.discussionContainer {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: -50;
    background-color: #f9dddd;
    height: fit-content;
}

.DCleft {
    width: 25vw;
    min-height: 80vh;
    background-color: #FFFFFF;
    margin-top: 15vh;
    margin-left: 20px;
    margin-right: 30px;
    border-radius: 30px;
    padding: 5px 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    height: fit-content;
}

.DCRupper {
    background-color: #bfb0b2;
    min-height: 30vh;
    border-radius: 10px;
    padding: 5px;
    width: 90%;
    height: fit-content;
}

.DCRlower {
    background-color: #bfb0b2;
    min-height: 30vh;
    border-radius: 10px;
    padding: 5px;
    width: 90%;
    margin-bottom: 15px;
    height: fit-content;
}

.questionAnswered h4:hover {
    cursor: pointer;
    text-decoration: underline;
}

.DCRlower h1, .DCRupper h1 {
    font-size: 1rem;
}

.DCright {
    width: 65vw;
    min-height: 20vh;
    height: fit-content;
    background-color: #bfb0b2;
    margin-top: 15vh;
    margin-left: 30px;
    margin-right: 20px;
    border-radius: 30px;
    margin-bottom: 50px;
    /* overflow: hidden; */
    /* scroll-behavior: smooth; */
}

.postQuestion {
    background-color: white;
    margin-top: 20px;
    width: 90%;
    margin-left: 20px;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#questionInput {
    font-size: 1.3rem;
    width: 90%;
    border-radius: 30px;
    /* margin-right: 30px; */
    padding: 5px 15px;
}

.postQuestionButton {
    font-size: 1.3rem;
    border-radius: 30px;
    padding: 5px 15px;
}

.postQuestionButton:hover {
    cursor: pointer;
}