.general--homePage {
    background: rgba(144, 183, 125, 0.5);
    height: 100vh;
}

.page--active {
    background: #90B77D;
    border-radius: 0.4em;
    animation: page-show-back 0.3s ease-in;
}

.header--right {
    display: flex;
    justify-content: space-between;
}

@keyframes page-show-back {
    from {
        background: transparent;
    }
    to {
        background: rgba(144, 183, 125, 0.5);
    }
}

.main--content {
    display: flex;
    justify-content: space-between;
    padding: 2em 6em;
}