.LPbookIll, .LPlaptopGirlIll {
    position: absolute;
    left: 10px;
}

.LPbookIll {
    left: 20px;
    bottom: 7PX;
    width: 100px;
}

.LPlaptopGirlIll {
    left: 100px;
    width: 80px;
    bottom: 0px;
    padding-bottom: 5px;
}