.LLBcontainer {
    /* outline: 1px solid black; */
    background-color: white;
    margin: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 25px;
}

.LLBlower1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.LLBTitleHeading {
    text-align: left;
    padding: 10px;
}

.LLBlower {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.LLBlower::-webkit-scrollbar {
    display: none;
}

.LLBLeftArrow {
    position: relative;
    left: 0px;
}