.LPbookIll, .LPlaptopGirlIll {
    position: absolute;
    left: 10px;
}

.LPbookIll {
    left: 20px;
    bottom: 0PX;
    width: 100px;
}

.LPlaptopGirlIll {
    left: 100px;
    width: 80px;
    bottom: -5px;
}