.LLBPCcontainer {
    /* outline: 1px black solid; */
    display: inline-block;
    padding: 0px 10px;
}

.LLBPCreadMore {
    background-color: #B93160;
    position: relative;
    bottom: 45px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LLBPCcontainer img {
    height: 150px;
}

.articleTitle {
    position: relative;
    bottom: 20px;
    text-align: center;
    padding: 0px 15px;
}