body {
    margin: 0px;
    background-color: rgba(57, 174, 169, 0.18);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0.3em 3.5em;
}

.header--title {
    display: flex;
    align-items: center;
}

.header--name { 
    font-family: 'Prata', sans-serif;
    letter-spacing: 0.1em;
    font-size: 2em;
    padding-left: 0.5em;
}

.header--image {
    height: 5em;
    width: 5em;
}

.header--buttons {
    display: flex;
    align-items: center;
}

.header--link {
    margin: 0em 0.4em;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 1.375em;
    border: none;
    background: transparent;
    padding: 0.2em 0.65em; 
    cursor: pointer;
}

@keyframes show-back {
    from {
        background: transparent;
    }
    to {
        background: rgba(49, 157, 160, 0.8);
    }
}

.active {
    background-color: rgba(49, 157, 160, 0.8);
    border-radius: 0.4em;
    animation: show-back 0.3s ease-in;
}